@import 'bulma/css/bulma.css';
@import 'bulma-extensions/dist/css/bulma-extensions.min.css';
@import '@fortawesome/fontawesome-free/css/all.css';

.section {
  display: flex;
  justify-content: center;
}
